@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom SASS goes here

details > summary{
    font-size: 13px;
    color: rgb(107, 114, 128);
    text-align:center;
    cursor:pointer;
}

.comment-section::-webkit-scrollbar {
    display: none;
  }

  .chirpToggle{
    font-size: 1rem;
    color: white;

    position:fixed;
    right:0;
    bottom:0;

    background-color:#26A7DE;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
  }

  .responsive-navbar-wrapper{
    margin-left:20px;
    margin-top: 70px;
  }

  .responsive-settings-options-wrapper{
    margin-left: 20px;
  }
