@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom SASS goes here

details > summary{
    font-size: 13px;
    color: rgb(107, 114, 128);
    text-align:center;
    cursor:pointer;
}

.comment-section::-webkit-scrollbar {
    display: none;
  }

  .chirpToggle{
    font-size: 1rem;
    color: white;

    position:fixed;
    z-index: 99;
    right:0;
    bottom:0;

    background-color:#26A7DE;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
  }

  .responsive-navbar-wrapper{
    margin-left:20px;
    margin-top: 70px;
  }

  .responsive-settings-options-wrapper{
    margin-left: 20px;
  }

  .follow-unfollow-button{
    color:white;
    border-radius:.25rem;
    padding:.25rem;
    margin-left:.1rem;
    margin-right:.1rem;
  }

  .unfollow-button{
    background-color:rgb(197, 71, 71);
  }

  .follow-button{
    background-color:rgb(113, 209, 113)
  }
