@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom SASS goes here

details > summary{
    font-size: 13px;
    color: rgb(107, 114, 128);
    text-align:center;
    cursor:pointer;
}

.comment-section::-webkit-scrollbar {
    display: none;
  }
